# Dependencies
node_modules
.pnpm-store

# Production & Build Outputs
dist
dist-ssr
.output
.nitro
.tanstack
.vinxi
.wrangler
.vercel

# Environment Variables & Local Configs
.env
.env.production
.env.development
.env.local
.env.*.local
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor & OS Metadata
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Temporary & Scratch Files
__unconfig*
todos.json
.cache
.temp